body {
    padding: 0;
    margin: 0;
}
#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: bisque;
    position: fixed;
    bottom: 0;
    width: 100%;
    
}

#githubImg {
    width: 30px;
}

#header {
    display: flex;
    flex-direction: column;
}

#headerText {
    align-self: center;
    font-size: 50px;
}

#pages {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    
    font-size: 25px;
    padding: 10px;
    margin: 10px;
    margin: 0;
    padding: 0;
    /* width: 100%; */
}

#one, #two, #three {
    
    /* background-color: gainsboro;
    padding-left: 10%;
    padding-right: 10%;
    /* padding-top: 40px; */
    padding-top: 3%;
    padding-bottom: 3%;
    /* padding-bottom: 40px;  */
    width: 33%;
    text-align: center;

}
/* .content {
    display: flex;
    justify-content: center;
} */

/* #headerText {
    background-color: aquamarine;
} */


#center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    padding: 20px;
    gap: 1em;
    margin: 40px;
    padding: 20px;
    /* margin: 10px; */
    font-size: 20px;
}


#chef {
    width: 50%;
    border-radius: 50%;
}


#icon {
    width: 5%;
}


#address, #mail, #phone {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: flex-start;
    justify-content: center;
    gap: 10px;
}

#one:hover, #two:hover, #three:hover {
    cursor: pointer;
}

#one.active, #two.active, #three.active {

    background-color: red;
}


img.food {
    width: 280px;
    width: 15em;
    border-radius: 10%;
}

div.title {
    font-size: 30px;
}

div.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* max-width: 30%; */
}

div.text {
    text-align: center;
}

#center.menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

div.text {
    margin-left: 10%;
    margin-right: 10%;
}


#one, #two, #three {
    width: 100%;
    
}